.css-doq0dk {
  overflow: hidden !important;
}

.css-doq0dk .css-1fzpoyk:nth-child(1) {
  transform: translateY(-50%) translateX(-33.3333%) scale(0.8) !important;
  left: -10% !important;
  transition:
    transform 1s ease-in-out,
    left 1s ease-in-out !important;
}

.css-doq0dk .css-1fzpoyk:nth-child(2) {
  transform: translateY(-50%) translateX(-66.6667%) scale(0.9) !important;
  left: 25% !important;
  transition:
    transform 1s ease-in-out,
    left 1s ease-in-out !important;
}

.css-doq0dk .css-1fzpoyk:nth-child(4) {
  transform: translateY(-50%) translateX(-33.3333%) scale(0.9) !important;
  left: 75% !important;
  transition:
    transform 1s ease-in-out,
    left 1s ease-in-out !important;
}

.css-doq0dk .css-1fzpoyk:nth-child(5) {
  transform: translateY(-50%) translateX(-66.6667%) scale(0.8) !important;
  left: 110% !important;
  transition:
    transform 1s ease-in-out,
    left 1s ease-in-out !important;
}

.css-1fzpoyk {
  opacity: 1 !important;
}

.css-1fzpoyk img {
  width: 100% !important;
  object-fit: cover !important;
}
