@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;  */
  scroll-behavior: smooth;

  /* Firefox için scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #9fd3cd transparent;

  /* WebKit Tabanlı Tarayıcılar için Scrollbar */
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: #9fd3cd;
  border-radius: 20px;
  border: 3px solid gray;
}

*::-webkit-scrollbar-button {
  display: none;
}

body {
  height: 100vh !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Scrollbar Gizleme Sınıfı */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE ve Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 16px;
}

.card-children {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

