.custom-phone-input input {
  background: #f1f5f9;
  border: none;
}

.custom-phone-input input:focus {
  border: none; /* Removes border on focus */
  box-shadow: none; /* Removes default focus shadow */
}
